.accordion{
padding: 30px 0;
}

.container{
    padding: 0 75px;
}

.li-question:not(:last-child) {
    margin-bottom: 32px;
}

.li-question{
    background-color: #A537BC;
    border-radius: 10px;
    padding: 30px 70px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 110px;
}

.button{
    border-style: none;
    background-color: inherit;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button:after{
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.li-question:nth-child(odd) .button:after{
    background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828817.png");
}

.li-question:nth-child(even) .button:after{
    background-image: url("https://cdn-icons-png.flaticon.com/512/10097/10097174.png");
}

.text-wrapper{
    padding: 30px 0 40px 0;
}