.accordion{
padding: 30px 0;
}

.container{
    padding: 0 75px;
}

.li-question:not(:last-child) {
    margin-bottom: 32px;
}

.li-question{
    background-color: #A537BC;
    border-radius: 10px;
    padding: 30px 70px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 130px;
}

.li-question-active{
    height: auto;
    transition: height 1s ease;
}

.button{
    border-style: none;
    background-color: inherit;
    text-align: start;
    display: flex;
    align-items: start;
    position: relative;
    min-height: 70px;
    padding-right: 94px;
}

.button:after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    right: 0;
    top: -7px;
}

.li-question:nth-child(odd) .button:after{
    background-image: url("../img/open.svg");
}

.li-question:nth-child(even) .button:after{
    background-image: url("../img/open-purple.svg");
}

.text-wrapper{
    padding: 30px 0 40px 0;
}