.list {
    list-style: none;
    border-radius: 10px;
}

.question:not(:nth-last-child(1)) {
    margin-bottom: 10px;
}

.question {
    display: flex;
    flex-direction: row;
    background-color: #A537BC;
    padding: 15px 30px;
    border-radius: 10px;
    justify-content: space-between;
    max-height: 82px;
    overflow: hidden;
}

.question:after{
    content: "";
    min-width: 50px;
    min-height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-self: start;
}

.question:nth-child(odd):after{
    background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828919.png");
}

.question:nth-child(even):after{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4315/4315609.png");
}

.button {
    min-height: 50px;
    border-style: none;
    background-color: inherit;
    color: inherit;
    text-align: start;
    margin-bottom: 35px;
}

.wrapper{
    max-width: 750px;
    padding-left: 56px;
}